.cart-container{
  margin: 2% 0 0 20%;
  width: 60%;
  height: auto;
  border: 1px solid blue;
}
.my-cart{
  height: 80px;
  border-bottom: 1px solid blue;
}
.product{
  height: auto;
  border-bottom: 1px solid blue;
}
.button-div{
  height: 40px;
}
.button-div a{
  float: left;
  padding: 2px;
  text-decoration: none;
  border: 1px solid orange;
  background-color: orange;
  box-shadow: 1px 1px 0px 2px #262626;
}
.cs-btn a{
  margin: 4px 62% 0px 20px;
}
.po-btn a{
  margin: 4px 20px 0px 0px;
}
.epd{
  border-bottom: 1px solid #000;
}
.epd .img-div{
  margin: 0px 40px auto 3px;
  float: left;
}
.img-div img{
  width: 60px;
  height: 100px;
}
.content{
  height: 140px;
}

.clearfix{
  clear: both;
}
input[type=submit]{
  background-color: orange;
  height: 30px;
}
